<!DOCTYPE html>
<html lang="pt"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <head>

    <title>Despeze - Users</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width-device-width, initial-scale=1.0">

  </head>

  <body>
  
    <table>	
		<thead>		
			<tr>			
				<th>Id</th>
				<th>Nome</th>
				<th>Sobrenome</th>
				<th>E-mail</th>
				<th>Senha</th>
				<th>Data de Nascimento</th>
				<th>Sexo</th>
			</tr>		
		</thead>
		<tbody>
			<tr th:each="user: ${ userList }">
				<td th:text="${ user.id }"></td>
				<td th:text="${ user.firstName }"></td>
				<td th:text="${ user.lastName }"></td>
				<td th:text="${ user.email }"></td>
				<td th:text="${ user.password }"></td>
				<td th:text="${ user.birthDate }"></td>
				<td th:text="${ user.gender }"></td>
			</tr>
		</tbody>
	</table>
  
  </body>

</html>